body {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
}

.text-praimary{
    color: #FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.baton-praimary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav {
    justify-content: space-between;
    align-items: center;
}